body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.navbar {
  height: 100vh;
  width: 200px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  margin: 10px;
}

.profile-pic img {
  border-radius: 50%;
}

.page {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-selected {
  background-color: green;
  border: 1px black solid;
  min-width: 180px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 240px;
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.recipe-card {
  border: 1px black solid;
  min-width: 180px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 240px;
}
main {
  display: flex;
  justify-content: space-between;
}

.full-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-container {
  width: 100%;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: palevioletred;
}

.library {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

h2 {
  text-align: center;
  padding: 20px;
  font-family: "Roboto Slab", serif;
}

button,
.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  color: #120b1e;
  font-family: roboto;
  border: 0.16em solid #120b1e;
  margin: 20px 10px 10px 0px;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  transition: all 0.3s;
  width: 30%;
  font-size: 1em;
  min-width: 150px;
  max-width: 170px;
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #ffffff;
  background-color: #120b1e;
}

/*Shopping list*/

li {
  list-style: none;
  flex: 1;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid yellow 2px;
  padding: 1em;
  margin: 0.5em;
  width: 450px;
}

.fas fa-shopping-cart {
  cursor: pointer;
  pointer-events: none;
}

.shopping-icon {
  padding: 0.5em;
  cursor: pointer;
  background-color: grey;
}

/* Add recipe */
.add-recipe-method {
  resize: none;
  width: 100%;
  font-family: roboto;
  height: 250px;
}
.error-message {
  color: red;
  font-size: 0.75em;
  text-align: right;
  width: 100%;
}
.recipe-input {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.ingredient-input {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form {
  width: 60%;
}
.add-recipe-container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.number-input {
  max-width: 60px;
}

.ingredient-text-input {
  width: 240px;
}

input {
  padding: 5px;
}

/*pagination */

.pagination {
  border: solid blue 1px;
  display: flex;
  justify-content: center;
  width: max-content;
  margin: auto;
}
.pagination nav {
  margin: 10px 0px;
}
.pagination-item {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.active {
  background-color: grey;
}

.pagination ul {
  padding: 0px;
  margin: 0px;
}

.pagination-item a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}
